page-item-detail {
  .itemgap {
    height: 1rem;
    background-color: #EAEAEA;
  }
  .initemgap {
    height: 0.5rem;
    background-color: #f8f8f8;
  }

  .div_no {
    display: flex!important;
    justify-content: left;
    align-items: center;
  }
  .div_img {
    height:4.5rem!important;
    width:4.5rem!important;
    margin-right: 1rem;
  }
  .attachname {
    border-bottom: 1px solid #EAEAEA !important;
  }
  .attachment_class {
    font-size: 1.4rem;
    padding: 0.5rem 0.8rem 0.5rem 1.6rem;
    line-height: 3.2rem;
  }
}

.detail-content {
  background-color: #F8F8F8;
}

.detail-content .item {
  margin: 1.0rem 0px;
}

.detail-content .item:first-child .item-inner {
  padding: 1rem 0px;
}

.detail-content .item:first-child .item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left] {
  margin-right: 1.0rem;
  margin-top: 0.6rem;
}

.detail-content .item:first-child img {
  margin-left: 1.6rem;
  margin-top: 0rem;
  height: 5.0rem;
  width: 5.0rem;
}

.detail-content .item:first-child p {
  font-size: 1.4rem;
}

.detail-content .label h2 {
  font-size: 1.8rem;
  color: #333333;
  padding: 1.5rem 0rem 1.5rem 1.6rem;
  border-bottom: 1px solid #EAEAEA;
  overflow:hidden;
  text-overflow:ellipsis;
}

.detail-content .label h2:before {
  font-family: Muiicons;
  font-size: 2.5rem;
  position: absolute;
  top: 2.5rem;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  left: 0.2rem;
  content: '>';
  color: transparent;
  width: 0.4rem;
  background-color: #3D81F1;
}

.detail-content .label h2.object-no:before {
  content: '';
}

.detail-content .label h2.object-no {
  border-bottom: 0px;
  padding: 0.5rem 0rem;
  font-weight: normal;
}

.detail-content .label p {
  font-size: 1.4rem;
  color: #888888;
  //padding: 0.5rem 0rem;
  border-bottom: 0rem;
  margin: 0rem;
}

.detail-content .label h3 {
  font-size: 1.4rem;
  color: #333333;
  padding: 0.5rem 0.8rem 0.5rem 1.6rem;
  margin: 0rem;
  border-bottom: 1px solid #EAEAEA;
  line-height: 3.2rem;
  //overflow: overlay;
}

.detail-content .label h3:active {
  background-color: #dedede;
}

.detail-content .label h3:last-child {
  border-bottom: 0px;
}

.detail-content .label h3 p {
  float: right;
  color: #666666;
  overflow:hidden;
  text-overflow:ellipsis;
  height:3.2rem;
  line-height: 3.2rem;
}

.detail-content .label h3 p.description_three {
  width: calc(100% - 1.4*4rem);
  text-align: right;
}
.detail-content .label h3 p.description_four {
  width: calc(100% - 1.4*5rem);
  text-align: right;
}
.detail-content .label h3 p.description_five {
  width: calc(100% - 1.4*6rem);
  text-align: right;
}
.detail-content .label h3 p.description_six {
  width: calc(100% - 1.4*7rem);
  text-align: right;
}
.detail-content .label h3 p.description_seven {
  width: calc(100% - 1.4*8rem);
  text-align: right;
}
.detail-content .label h3 p.description_eight {
  width: calc(100% - 1.4*9rem);
  text-align: right;
}
.detail-content .label h3 p.description_nine {
  width: calc(100% - 1.4*10rem);
  text-align: right;
}
.detail-content .label h3 p.description_ten {
  width: calc(100% - 1.4*11rem);
  text-align: right;
}
.detail-content .label h3 p.description_eleven {
  width: calc(100% - 1.4*12rem);
  text-align: right;
}
.detail-content .label h3 p.description_twelve {
  width: calc(100% - 1.4*13rem);
  text-align: right;
}
.detail-content .label h3 p.description_thirteen {
  width: calc(100% - 1.4*14rem);
  text-align: right;
}
.detail-content .label h3 p.description_fourteen {
  width: calc(100% - 1.4*15rem);
  text-align: right;
}
.detail-content .label h3 p.description_fifteen {
  width: calc(100% - 1.4*16rem);
  text-align: right;
}
.detail-content .label h3 p.description_sixteen {
  width: calc(100% - 1.4*17rem);
  text-align: right;
}
.detail-content .label h3 p.description_seventeen {
  width: calc(100% - 1.4*18rem);
  text-align: right;
}
.detail-content .label h3 p.description_eighteen {
  width: calc(100% - 1.4*19rem);
  text-align: right;
}
.detail-content .label h3 p.description_nineteen {
  width: calc(100% - 1.4*20rem);
  text-align: right;
}

.detail-content .item-md, .detail-content .item-ios {
  padding-left: 0px;
}

.detail-content .item-md.item-block .item-inner, .detail-content .item-ios.item-block .item-inner {
  padding-right: 0px;
}

.detail-content .label-md, .detail-content .label-ios {
  margin: 0px;
}

.button-group {
  width: 100%;
  text-align: center;
  margin: 1.0rem 0px 1.0rem 0px;
}

.detail-button {
  width: 32.5%;
  background-color: #3D81F1;
  font-size: 1.2rem;
  color: #FFFFFF;
  height: 3.5rem;
  line-height:3.5rem;
}

.button-group button:active {
  background-color: #0F5AD7;
}

button.hidden {
  opacity: 0.0;
}

button.refuse {
  background-color: #FC5446;
}

button.refuse:active {
  background-color: #E11504;
}

button.refuse:before {
  display: inline-block;
  text-decoration: none;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  content: '>';
  color: transparent;
  background-image: url("../assets/img/icon_refuse.png");
  background-size: cover;
  height: 1.6rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

button.add:before {
  display: inline-block;
  text-decoration: none;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  content: '>';
  color: transparent;
  background-image: url("../assets/img/icon_add.png");
  background-size: cover;
  height: 1.6rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

button.agree:before {
  display: inline-block;
  text-decoration: none;
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  content: '>';
  color: transparent;
  background-image: url("../assets/img/icon_agre.png");
  background-size: cover;
  height: 1.6rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  vertical-align: middle;
}

