page-my {
	img {
		width: 20px;
	    margin-right: 8px;
	    padding-top: 4px;
	}
	.line {
		display: inline-block;
		verticle-align: middle;
	}
	.text {
		display: inline-block;
		verticle-align: middle;
		font-size: 18px;
		color: #000;
	}
}
